#put ignore files and folders here
.vs
Teams/DonAlvaro/String/bin
Teams/DonAlvaro/String/obj
Teams/DonAlvaro/Collections/bin
Teams/DonAlvaro/Collections/obj
Teams/DonAlvaro/Collections/Template.cs
Teams/DonAlvaro/String/Template.cs
